[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=simple
ImportEnvironment=SWAYSOCK WAYLAND_DISPLAY DISPLAY
ExecStart=emacs --fg-daemon
ExecStop=emacsclient --eval "(save-buffers-kill-emacs)"
Restart=on-failure

Environment=MIMALLOC_LARGE_OS_PAGES=1
Environment=MALLOC_CONF="thp:always,metadata_thp:always"
Environment=and GLIBC_TUNABLES=glibc.malloc.hugetlb=1

[Install]
WantedBy=default.target
