[Unit]
Description=Mako notifications
PartOf=graphical-session.target

[Service]
ExecStart=mpd-mpris
Restart=on-failure

[Install]
WantedBy=sway-session.target