[Unit]
Description=xdg-document-portal
PartOf=graphical-session.target

[Service]
ExecStart=/lib/xdg-document-portal --replace
Restart=on-failure

[Install]
WantedBy=sway-session.target