[Unit]
Description=swayidle
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -d -w -C ~/.config/swayidle/config
Restart=on-failure

[Install]
WantedBy=sway-session.target